* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(135deg, #0044ff, #001f66);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.container {
  text-align: center;
  background: rgba(0,0,0,0.25);
  padding: 40px 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  max-width: 400px;
  width: 100%;
}

.dice-img {
  width: 150px;
  margin-bottom: 20px;
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 30px;
    color: #fff;
}

.inputs {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  gap: 15px; /* espaço entre os inputs */
  margin-bottom: 20px; /* espaço inferior */
  color: white;
}

.input-min, .input-max {
  width: 120px; /* largura fixa para caber lado a lado */
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 14px;
  height: 60px;
  padding-left: 15px;
  font-size: 28px;
  transition: 0.3s;
}

/* cor do placeholder */
.input-min::placeholder,
.input-max::placeholder {
  color: #00ffff; /* cor e transparência do placeholder */
}

.input-min:focus, .input-max:focus {
  border-color: #00ffff;
}

.botao-sorteio {
  background: #00aaff;
  margin-top: 30px;
  width: 100%;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-sorteio:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.resultado {
  margin-top: 20px;
  font-size: 48px;
  font-weight: bold;
  color: #00ffff;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px);}
  to { opacity: 1; transform: translateY(0);}
}

/* Mobile */
@media (max-width: 400px) {
  h2 {
    font-size: 22px;
  }
  input {
    font-size: 22px;
    height: 50px;
  }
  .botao-sorteio {
    font-size: 22px;
    height: 50px;
  }
  .dice-img {
    width: 120px;
  }
  .resultado {
    font-size: 36px;
  }
}